* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: lightgray;
  font-family: poppins;
}

#page-container {
  width: 100%;
  min-height: 100vh;
  padding-left: 10%;
  padding-right: 10%;
  box-sizing: border-box;
  overflow: hidden;
  background: url('./bar-background.jpeg');
  background-position: center;
  background-size: cover;
}

.navbar {
  /* position: fixed;
  width: 100%;
  height: 210px;
  left: 0;
  top: 0;
  text-align: center;
  margin: 0 auto;
  padding-top: 40px; */
  width: 100%;
  display: flex;
  align-items: center;
}

.navbar h1 {
  font-family: cursive;
  font-size: 70px;
  font-style: italic;
  /* margin: 0;
  padding: 10px; */
  color: rgb(44, 165, 241);
  width: 110px;
  margin: 30px 0;
}

nav {
  flex: 1;
  text-align: right;
}

nav a {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 25px;
  transition: all 0.5s ease;
}

nav a:hover {
  color: rgb(44, 165, 241);
  font-size: 25px;
}

.menu-icon {
  width: 35px;
  cursor: pointer;
  display: none;
  text-align: right;
  z-index: 10;
  margin-top: 15px;
}

.main-area {
  width: 100%;
  height: 100vh;
  /* background: url('./bar-background.jpeg');
  background-position: center;
  background-size: cover; */
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 2vw;
  color: #fff;
}

.col1 {
  flex-basis: 75%;
  position: relative;
  margin-left: 8%;
}

.col1 h2 {
  font-family: cursive;
  font-weight: bold;
  font-size: 60px;
  margin: 0 0 25px;
  transition: all 1s ease;
}

.col1 h2:hover {
  color: rgb(44, 165, 241);
  font-size: 75px;
}

.col1 p {
  font-family: cursive;
  font-weight: bold;
  font-size: 40px;
  margin: 0 0 25px;
}

.col2 {
  position: relative;
  flex-basis: 60%;
  display: flex;
  align-items: center;
}

.col1,
.col2 {
  text-align: center;
}

/* #main-area h2 {
  font-family: cursive;
  font-weight: bold;
  font-size: 60px;
  margin: 0 0 25px;
  transition: all 1s ease;
  margin-top: 100px;
} */

/* #main-area h2:hover {
  color: rgb(44, 165, 241);
  font-size: 75px;
} */

.col2 img {
  width: 120px;
  left: 50px;
  padding-bottom: 20px;
}

.logo {
  margin-left: -400px;
  font-family: cursive;
  font-size: 60px;
  font-style: italic;
  margin: 0;
  padding: 10px;
  color: rgb(44, 165, 241);
}

.age-gate-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(226, 228, 228, 0.7);
}

.age-gate {
  background: url('./agegate-pic.jpeg');
  background-position: left;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
  padding: 90px 120px;
  width: 700px;
  max-width: 90%;
  text-align: center;
  color: white;
}

.gate-message p {
  opacity: 0.7;
  font-size: 15px;
  padding: 0;
}

.confirm-age-button {
  box-sizing: border-box;
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  color: #fff;
  background-color: rgb(44, 165, 241);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  padding: 15px;
  min-height: 44px;
  min-width: 10ch;
  transition: 220ms all ease-in-out;
}

.confirm-age-button:hover {
  filter: brightness(75%);
}

.rotate {
  animation: rotation 3s infinite linear;
  position: relative;
}
@keyframes rotation {
  50% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#age-error-message {
  color: red;
  font-size: 15px;
}

.social-media {
  text-align: center;
}

.social-media img {
  height: 35px;
  margin: 40px;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  nav {
    width: 100%;
    background: linear-gradient(#87cefa, #365264);
    position: absolute;
    top: 0px;
    right: 0;
    z-index: 2;
    overflow: hidden;
    transition: 0.5s;
    max-height: 0px;
  }
  nav a {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: none;
  }
  nav a:hover {
    color: rgb(214, 110, 25);
  }
  .menu-icon {
    display: block;
  }
  #ab {
    display: none;
  }
}
