body {
  background-color: dimgray;
}

img {
  width: 120px;
  padding-top: 20px;
}

.age-gate {
  text-align: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.gate-container {
  width: 75%;
  background-color: rgb(226, 228, 228);
}

.gate-message h1 {
  font-size: 32px;
  font-weight: 600;
  padding-top: 10px;
  margin-bottom: 2px;
}

a.submit-yes,
a.submit-no {
  box-sizing: border-box;
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  color: #fff;
  background-color: #3e68ff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  padding: 15px;
  min-height: 44px;
  min-width: 10ch;
  transition: 220ms all ease-in-out;
}

a.submit-yes:hover,
a.submit-no:hover {
  filter: brightness(75%);
}

.rotate {
  animation: rotation 3s infinite linear;
  position: relative;
}
@keyframes rotation {
  50% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
