body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background: url('./under-background-pic.jpeg');
  background-position: center;
  background-size: cover;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

nav h1 {
  font-family: cursive;
  font-size: 60px;
  font-style: italic;
  margin: 0;
  padding: 40px;
  color: rgb(44, 165, 241);
}

nav a {
  text-decoration: none;
  font-size: 20px;
  color: rgb(241, 138, 21);
  text-transform: uppercase;
  text-shadow: 1px 1px black;
}

#main-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding: 5%;
  text-align: center;
}

#main-area h1 {
  font-size: 70px;
}

#main-area h2 {
  font-size: 50px;
}

#main-area h1,
#main-area h2 {
  font-weight: bold;
  margin: 0 0 25px;
}

@media only screen and (max-width: 600px) {
  #main-area h1 {
    font-size: 30px;
    text-shadow: 2px 2px black;
  }

  #main-area h2 {
    font-size: 25px;
    text-shadow: 2px 2px black;
  }
}
